sea-soap-mock-service/DocumentServiceSoap.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ws.ustorage.idmt.ru" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ustorage.idmt.ru" name="DocumentService">
<wsp:Policy wsu:Id="DocumentServicePortBinding_MTOM_Policy-DocumentServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="XSD5.xml"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ws.ustorage.idmt.ru" schemaLocation="XSD1.xml"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://rt.fs.documentum.emc.com/" schemaLocation="XSD2.xml"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://data.ws.ustorage.idmt.ru" schemaLocation="XSD3.xml"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://content.core.datamodel.fs.documentum.emc.com/" schemaLocation="XSD4.xml"/>
</xsd:schema>
</types>
<message name="getVersions">
<part name="parameters" element="tns:getVersions"/>
</message>
<message name="getVersionsResponse">
<part name="parameters" element="tns:getVersionsResponse"/>
</message>
<message name="Exception_Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="ServiceException_Exception">
<part xmlns:ns2="http://rt.fs.documentum.emc.com/" name="fault" element="ns2:ServiceException"/>
</message>
<message name="createLink">
<part name="parameters" element="tns:createLink"/>
</message>
<message name="createLinkResponse">
<part name="parameters" element="tns:createLinkResponse"/>
</message>
<message name="getContent">
<part name="parameters" element="tns:getContent"/>
</message>
<message name="getContentResponse">
<part name="parameters" element="tns:getContentResponse"/>
</message>
<message name="setAdditionalContent">
<part name="parameters" element="tns:setAdditionalContent"/>
</message>
<message name="setAdditionalContentResponse">
<part name="parameters" element="tns:setAdditionalContentResponse"/>
</message>
<message name="getDocumentVersion">
<part name="parameters" element="tns:getDocumentVersion"/>
</message>
<message name="getDocumentVersionResponse">
<part name="parameters" element="tns:getDocumentVersionResponse"/>
</message>
<message name="getFirstDocumentFound">
<part name="parameters" element="tns:getFirstDocumentFound"/>
</message>
<message name="getFirstDocumentFoundResponse">
<part name="parameters" element="tns:getFirstDocumentFoundResponse"/>
</message>
<message name="updateDocument">
<part name="parameters" element="tns:updateDocument"/>
</message>
<message name="updateDocumentResponse">
<part name="parameters" element="tns:updateDocumentResponse"/>
</message>
<message name="updateDocumentOnly">
<part name="parameters" element="tns:updateDocumentOnly"/>
</message>
<message name="updateDocumentOnlyResponse">
<part name="parameters" element="tns:updateDocumentOnlyResponse"/>
</message>
<message name="deleteDocument">
<part name="parameters" element="tns:deleteDocument"/>
</message>
<message name="deleteDocumentResponse">
<part name="parameters" element="tns:deleteDocumentResponse"/>
</message>
<message name="deleteAllDocumentVersions">
<part name="parameters" element="tns:deleteAllDocumentVersions"/>
</message>
<message name="deleteAllDocumentVersionsResponse">
<part name="parameters" element="tns:deleteAllDocumentVersionsResponse"/>
</message>
<message name="getContentVersion">
<part name="parameters" element="tns:getContentVersion"/>
</message>
<message name="getContentVersionResponse">
<part name="parameters" element="tns:getContentVersionResponse"/>
</message>
<message name="setContentFromUrl">
<part name="parameters" element="tns:setContentFromUrl"/>
</message>
<message name="setContentFromUrlResponse">
<part name="parameters" element="tns:setContentFromUrlResponse"/>
</message>
<message name="addReadPermit">
<part name="parameters" element="tns:addReadPermit"/>
</message>
<message name="addReadPermitResponse">
<part name="parameters" element="tns:addReadPermitResponse"/>
</message>
<message name="getAdditionalContent">
<part name="parameters" element="tns:getAdditionalContent"/>
</message>
<message name="getAdditionalContentResponse">
<part name="parameters" element="tns:getAdditionalContentResponse"/>
</message>
<message name="getAdditionalContents">
<part name="parameters" element="tns:getAdditionalContents"/>
</message>
<message name="getAdditionalContentsResponse">
<part name="parameters" element="tns:getAdditionalContentsResponse"/>
</message>
<message name="getDocument">
<part name="parameters" element="tns:getDocument"/>
</message>
<message name="getDocumentResponse">
<part name="parameters" element="tns:getDocumentResponse"/>
</message>
<message name="createDocument">
<part name="parameters" element="tns:createDocument"/>
</message>
<message name="createDocumentResponse">
<part name="parameters" element="tns:createDocumentResponse"/>
</message>
<message name="setContent">
<part name="parameters" element="tns:setContent"/>
</message>
<message name="setContentResponse">
<part name="parameters" element="tns:setContentResponse"/>
</message>
<portType name="DocumentServicePort">
<operation name="getVersions">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getVersionsRequest" message="tns:getVersions"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getVersionsResponse" message="tns:getVersionsResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getVersions/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getVersions/Fault/ServiceException_Exception"/>
</operation>
<operation name="createLink">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/createLinkRequest" message="tns:createLink"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/createLinkResponse" message="tns:createLinkResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/createLink/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/createLink/Fault/ServiceException_Exception"/>
</operation>
<operation name="getContent">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getContentRequest" message="tns:getContent"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getContentResponse" message="tns:getContentResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getContent/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getContent/Fault/ServiceException_Exception"/>
</operation>
<operation name="setAdditionalContent">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setAdditionalContentRequest" message="tns:setAdditionalContent"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setAdditionalContentResponse" message="tns:setAdditionalContentResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setAdditionalContent/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setAdditionalContent/Fault/ServiceException_Exception"/>
</operation>
<operation name="getDocumentVersion">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getDocumentVersionRequest" message="tns:getDocumentVersion"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getDocumentVersionResponse" message="tns:getDocumentVersionResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getDocumentVersion/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getDocumentVersion/Fault/ServiceException_Exception"/>
</operation>
<operation name="getFirstDocumentFound">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getFirstDocumentFoundRequest" message="tns:getFirstDocumentFound"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getFirstDocumentFoundResponse" message="tns:getFirstDocumentFoundResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getFirstDocumentFound/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getFirstDocumentFound/Fault/ServiceException_Exception"/>
</operation>
<operation name="updateDocument">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/updateDocumentRequest" message="tns:updateDocument"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/updateDocumentResponse" message="tns:updateDocumentResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/updateDocument/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/updateDocument/Fault/ServiceException_Exception"/>
</operation>
<operation name="updateDocumentOnly">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/updateDocumentOnlyRequest" message="tns:updateDocumentOnly"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/updateDocumentOnlyResponse" message="tns:updateDocumentOnlyResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/updateDocumentOnly/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/updateDocumentOnly/Fault/ServiceException_Exception"/>
</operation>
<operation name="deleteDocument">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/deleteDocumentRequest" message="tns:deleteDocument"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/deleteDocumentResponse" message="tns:deleteDocumentResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/deleteDocument/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/deleteDocument/Fault/ServiceException_Exception"/>
</operation>
<operation name="deleteAllDocumentVersions">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/deleteAllDocumentVersionsRequest" message="tns:deleteAllDocumentVersions"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/deleteAllDocumentVersionsResponse" message="tns:deleteAllDocumentVersionsResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/deleteAllDocumentVersions/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/deleteAllDocumentVersions/Fault/ServiceException_Exception"/>
</operation>
<operation name="getContentVersion">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getContentVersionRequest" message="tns:getContentVersion"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getContentVersionResponse" message="tns:getContentVersionResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getContentVersion/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getContentVersion/Fault/ServiceException_Exception"/>
</operation>
<operation name="setContentFromUrl">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setContentFromUrlRequest" message="tns:setContentFromUrl"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setContentFromUrlResponse" message="tns:setContentFromUrlResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setContentFromUrl/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setContentFromUrl/Fault/ServiceException_Exception"/>
</operation>
<operation name="addReadPermit">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/addReadPermitRequest" message="tns:addReadPermit"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/addReadPermitResponse" message="tns:addReadPermitResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/addReadPermit/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/addReadPermit/Fault/ServiceException_Exception"/>
</operation>
<operation name="getAdditionalContent">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getAdditionalContentRequest" message="tns:getAdditionalContent"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getAdditionalContentResponse" message="tns:getAdditionalContentResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getAdditionalContent/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getAdditionalContent/Fault/ServiceException_Exception"/>
</operation>
<operation name="getAdditionalContents">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getAdditionalContentsRequest" message="tns:getAdditionalContents"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getAdditionalContentsResponse" message="tns:getAdditionalContentsResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getAdditionalContents/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getAdditionalContents/Fault/ServiceException_Exception"/>
</operation>
<operation name="getDocument">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getDocumentRequest" message="tns:getDocument"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getDocumentResponse" message="tns:getDocumentResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getDocument/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/getDocument/Fault/ServiceException_Exception"/>
</operation>
<operation name="createDocument">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/createDocumentRequest" message="tns:createDocument"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/createDocumentResponse" message="tns:createDocumentResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/createDocument/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/createDocument/Fault/ServiceException_Exception"/>
</operation>
<operation name="setContent">
<input wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setContentRequest" message="tns:setContent"/>
<output wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setContentResponse" message="tns:setContentResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setContent/Fault/Exception_Exception"/>
<fault message="tns:ServiceException_Exception" name="ServiceException_Exception" wsam:Action="http://ws.ustorage.idmt.ru/DocumentServicePort/setContent/Fault/ServiceException_Exception"/>
</operation>
</portType>
<binding name="DocumentServicePortBinding" type="tns:DocumentServicePort">
<wsp:PolicyReference URI="#DocumentServicePortBinding_MTOM_Policy-DocumentServicePortBinding_MTOM_Policy"/>
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVersions">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="createLink">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="getContent">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="setAdditionalContent">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="getDocumentVersion">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="getFirstDocumentFound">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="updateDocument">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="updateDocumentOnly">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteDocument">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteAllDocumentVersions">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="getContentVersion">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="setContentFromUrl">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="addReadPermit">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="getAdditionalContent">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="getAdditionalContents">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="getDocument">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="createDocument">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
<operation name="setContent">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap12:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="ServiceException_Exception">
<soap12:fault name="ServiceException_Exception" use="literal"/>
</fault>
</operation>
</binding>
</definitions>