sea-mock-service/schema2.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://rt.fs.documentum.emc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dfs-rt="http://rt.fs.documentum.emc.com/" elementFormDefault="unqualified" version="1.0" targetNamespace="http://rt.fs.documentum.emc.com/">

  <xs:element name="ServiceException" type="tns:ServiceException"/>

  <xs:complexType name="ServiceException">
    <xs:sequence>
      <xs:element name="exceptionBean" type="tns:DfsExceptionHolder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exceptionType" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="messageArgs" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="stackTraceAsString" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DfsExceptionHolder">
    <xs:sequence>
      <xs:element name="attribute" type="tns:DfsAttributeHolder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exceptionClass" type="xs:string" minOccurs="0"/>
      <xs:element name="genericType" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="stackTrace" type="tns:StackTraceHolder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DfsAttributeHolder">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StackTraceHolder">
    <xs:sequence>
      <xs:element name="className" type="xs:string" minOccurs="0"/>
      <xs:element name="fileName" type="xs:string" minOccurs="0"/>
      <xs:element name="lineNumber" type="xs:int"/>
      <xs:element name="methodName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>